<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>OCEM'BA</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/cocar.jpg" />
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top" style="background-color: #71492f;">
      		<div class="container">
        		<div class="navbar-header" style="margin-left: 39%">
          
          			<a href="/"><h1 style="color: white;">OCEM'BA</h1></a>
        		</div>
      		</div>
    	</nav>
		<h1>Pesquisa</h1>
		<p>O projeto "OCEM'BA: Evasão indígena no IFMS- campus Dourados", surgiu quando os Alunos Bruno Henrique e Kelly Maiara perceberam, que mesmo estando no estado de segunda posição em população indígena, o Ifms não consegue incluir a população indígena tão bem quanto o esperado. Em 2019, por exemplo, apenas 3 alunos estavam matriculados e dois já tinham saido, isso no ensino médio. em conversas com o Aroldo Careaga atual presidente do NEABI percebemos que muitos se interresam, ou seja a divulação ocorre, porém esses alunos enfrentam diversas barreiras que os impedem de chegar no local da prova, por exemplo. Entre outros fatores pelos quais eles nem se inscrevem para a prova.</p>
		<p>Munidos com todas essas informaçãoes resolvemos aplicar um questionário, que você poderá estar vendo em <a href="/ferramentas" style="color: blue;">Ferramentas</a> , e entrevistas para descobrir os motivos que afastam o aluno indígena ou que atrai o mesmo.</p>
		<p>Como citado anteriormente esse tema foi escolhido pelo fato do Ifms estar no segundo maior estado em população indígena e não só por isso, escolhemos também pela carga histórica que este tema representa, afinal desde a colonização muitas etnias morrem ou perdem sua cultura sem deixar vestigios, a escola é o principal meio de inclusão e todos tem direito a educação, então porque não criar mais projetos que tratem especificamente da educação de alunos indígenas, ou que facilitem sua entrada nas escolas e universidades?</p>
		<p>Diversos são os motivos que afastam ou atraem o indígena para uma escola e você poderá ver os motivos que levantamos entrando na nossa <a href="/conclusão" style="color: blue;">Conclusão</a> onde falamos um pouco de tudo o que aprendemos durante a pesquisa, ainda, se quiser tirar as suas próprias conclusões tem as <a href="/entrevistas" style="color: blue;">entrevistas</a> onde todas as entrevistas estão digitalizadas e ainda conta com os questionários e suas respostas. Agora se você quiser aplicar nossa entrevista e questionário esteja entrando em <a href="/ferramentas" style="color: blue;">ferramentas</a> lá você pode estar conferindo todos os mecanismos utilizados.  É isso esperamos que aprendam um pouco mais sobre os problemas infrentados pela população indígena, que se encontra no IFMS, através do nosso site e que novos projetos surjam por você ou por outros que sentem essa imensa vontade de ser a diferença.</p>  
		<p>Ps: OCEM'BA: significa quando muitas pessoas estão se deslocando de um local o que nos remete a idéia de evasão, principal foco desse projeto.</p>    
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>