<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>OCEM'BA</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/cocar.jpg" />
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top" style="background-color: #71492f;">
      		<div class="container">
        		<div class="navbar-header" style="margin-left: 39%">
          
          			<a href="/"><h1 style="color: white;">OCEM'BA</h1></a>
        		</div>
      		</div>
    	</nav>
		<h1>Entrevistas</h1>
		<h2>Entrevistada Gabi, ex aluna do IFMS</h2> 
		<p>Qual motivo levou você a sair do if?
Gabriela- Disse que saiu do IFMS por que o curso de técnico em informática para internet não era o que ela queria/gostava, só ficou por pressão familiar, ela estava com muitas matérias para fazer porém não conseguia evoluir. 

Você morava perto? E se não acha que isso influenciou na sua decisão?
Gabriela-  Disse que morava a 12 km do IFMS, apesar de toda dificuldade seu pai a levava todos os dias e buscava, assim gastando muita gasolina, algumas vezes não foi a escola pois não tinha condições. Também foi um dos motivos que levou a evasão.

Você tinha problemas em se relacionar com colegas e professores?
Gabriela- respondeu que não tinha problema nenhum, sua turma de 2016 era muito acolhedora e ela amava a sala, porém teve um problema com um aluno que chegou em 2017, Gabi estava sentada na biblioteca e o aluno chegou e começou a falar muito mau dos indígenas, e ela apenas ficou em silêncio e saiu de lá. Em relação aos professores também foram muito acolhedores com ela.
 
Você tinha dificuldades com as matérias técnicas?
Gabriela - Sim, quase todas.
Essa dificuldade se estendia as matérias normais do ensino médio?
Gabriela - Só matemática e física.
 
Você estava trabalhando enquanto frequentava o IF?
Gabriela- Não.

Na sua opinião o que afasta os alunos indígenas?
Gabriela- Acho que a dificuldade de locomoção por conta que o if fica muito longe das suas aldeias (JAGUAPIRU E BORORÒ), não existe nenhum tipo de veículo que possa estar levando os alunos até o if, o dinheiro também é um dos motivos, o fato das aulas integrais, muitos não conseguem se manter.</p>

<h2>Entrevista com Jarilson, ex aluno do IFMS</h2>

<p>Quais motivos levaram você a sair do IF?
Jarilson- Não era o curso desejado. 

A distância de sua casa até o IF influenciou na sua decisão?
Jarilson- Não, pois vinha de moto todos os dias, mas era muito ruim nos dias de chuva.

Você tinha algum problema de se relacionar com colegas e professores?
Jarilson- Não.

Em relação às matérias do curso técnico, você enfrentava dificuldades?
Jarilson-  No começo sim, mas depois foi de boa. 

Você trabalhava enquanto frequentava o IF?
Jarilson- Não. 

Ponto negativo e positivo?
Jarilson-  Professores excelentes, de negativo a distância.</p>

<h2>Entrevistado Isaías, aluno IFMS</h2>
<p>Você acredita que aqui no IF existe discriminação indígena?
Isaías - Não. 

Pretende seguir carreira do curso?
Isaías - Gosto, porém não vou seguir carreira.

Sofre dificuldades para chegar até o IF?
Isaías - Quando chove.

Já pensou em desistir?
Isaías - Muitas vezes.

Na sua opinião, o que poderia melhorar para atração e permanência desse público?
Isaías - Mais divulgação nas escolas na aldeia.</p>

<h2>Entrevistado Anderson, aluno IFMS</h2>
<p>Você acredita que aqui no IF existe discriminação indígena?
Anderson - Talvez, porém nunca fui alvo.

Pretende seguir carreira no curso ofertado?
Anderson- Sim.

Sofre dificuldades para chegar até o IF?
Anderson - Não, pois não moro na aldeia.

Já pensou em desistir?
Anderson- Não.

Na sua opinião, o que poderia melhorar para atração e permanência desse público?
Anderson- Transporte público. 

</p>
<h2>Entrevistada Cris, aluna IFMS</h2>
<p>Você acredita que existe discriminação indígena?
 Cris - Na segunda semana de aula eu entrei na sala e uma menina me perguntou de onde eu era e ela disse que na aldeia também tinha escola e poderia estudar lá, e disse que no IF so estudava os brancos, depois disso fiquei muito triste.

Pretende seguir carreira com o curso?
Cris- Ainda não decidi.

Sofre dificuldades para chegar até o IF?
Cris- Eu sofro muito, pois tenho que vir de bicicleta e tem dias que está chovendo aí não consigo chegar.

Sofre mais alguma dificuldade?
Cris - Às matérias do curso eu nunca tinha visto antes e tenho muita dificuldade.

Já pensou em desistir?
Cris- Sim, muitas vezes mas meu pai nunca deixou, sempre fala que a vida não é fácil e preciso enfrentar.

Na sua opinião, o que poderia melhorar para atração e permanência desse público?
Cris - Transporte público para permanência, para atrair, atividades extracurriculares relacionadas ao esporte.
</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>