<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>OCEM'BA</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/cocar.jpg" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top" style="background-color: #71492f;">
      		<div class="container">
        		<div class="navbar-header" style="margin-left: 39%">
          
          			<a href="/"><h1 style="color: white;">OCEM'BA</h1></a>
        		</div>
      		</div>
    	</nav>


	    <h1>Ferramentas</h1>
		<p>Para obter dados contamos com entrevistas e questionários aplicados aos estudantes indígenas do campus ou evadidos do mesmo , a aplicação da entrevista aconteceu através de diálogo presencial e o questionário foi aplicado através das redes sociais Whatsapp e Messenger. Os entrevistados foram escolhidos conforme o seu conhecimento sobre o assunto. As entrevistas aconteceram no próprio âmbito escolar- IFMS câmpus Dourados e nos ambientes virtuais oferecidos pelas redes sociais. A entrevista, composta por perguntas exploratórias e fechadas, foi aplicada em 3 alunoss que ainda se mantém no IFMS. O questionário foi aplicado em dois alunos que já evadiram do Ifms. Após a realização, as entrevistas e os questionários foram digitalizadas e guardados como arquivos. Foi utilizado o método de pesquisa qualitativa com a finalidade de analisar os conceitos e ideais dos entrevistados. Contamos também com a ajuda do Aroldo Careaga atual presidente do NEABI (Núcleo de Estudos Afro-Brasileiros e Indígenas). 
		O site conta com toda a pesquisa realizada.</p>
			<h1>Questionário aplicado aos alunos evadidos</h1>


			<p>1. Qual motivo levou você a sair do if?</p>
			<p>2. Você morava perto? E se não acha que isso influenciou na sua decisão?</p>
			<p>3. Você tinha problemas em se relacionar com colegas e professores?</p>
			<p>4. Você tinha dificuldades com as matérias técnicas?</p>
			<p>5. Essa dificuldade se estendia as matérias normais do ensino médio?</p>
			<p>6. Você estava trabalhando enquanto frequentava o IF?</p>
			<p>7. Na sua opinião o que afasta os alunos indígenas?</p>
			<p>Com esse questionário buscou-se identificar os principais motivos que levaram os alunos a
			evadirem, passamos por todos os pontos que podem vir a ser relevantes para a decisão,
			poderão observar que a primeira questão busca o motivo principal que levou o aluno a
			evadir, às perguntas posteriores buscam entender se além do motivo principal algum outro
			motivo interferiu na decisão do aluno.</p>

			<h1>Entrevista aplicada aos alunos que permanecem na instituição</h1>

			<p>Você acredita que aqui no IF existe discriminação indígena?</p>
			<p>Pretende seguir carreira do curso?</p>
			<p>Sofre dificuldades para chegar até o IF?</p>
			<p>Já pensou em desistir?</p>
			<p>Na sua opinião, o que poderia melhorar para atração e permanência desse público?</p>
			<p>Já na entrevista nós buscamos entender o que mantém o aluno e possíveis motivos pelos quais os mesmo poderiam sair. Na entrevista não buscamo especificidade, trabalhamos com os motivos mais gerais.</p>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>