<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>OCEM'BA</title>
		
		<!-- JQuery -->
		<script src="js/jquery-3.3.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/cocar.jpg" />
	</head>

	<body class="teste">
    <nav class="navbar  bg-dark navbar-static-top bg-dark" style="background-color: #71492f;">
      <div class="container">
        <div class="navbar-header" style="margin-left: 40%">
          
          <a href="/"><h1 style="color: white;">OCEM'BA</h1></a>
        </div>
      </div>
    </nav>
  <section class="container" style="margin-left: 15%;">
      <div class= "row">
      <a href="/pesquisa" class="col-md-6 col-sm-6 col-lg-6" style="margin-top: 0.5%;">
        <figure>
          <img class="img-fluid img-thumbnail" src="images/pesquisa.png" alt="representação de pesquisa">
        </figure>
      </a>
      <a href="/ferramentas" class="col-md-6 col-sm-6 col-lg-6" style="margin-top: 0.5%;">
        <figure>
          <img class="img-fluid img-thumbnail" src="images/ferramentas.jpg" alt="representação de ferramentas">
        </figure>
      </a>
      <a href="/entrevista" class="col-md-6 col-sm-6 col-lg-6" style="margin-top: 0.5%;">
        <figure>
          <img class="img-fluid img-thumbnail" src="images/entrevista.jpg" alt="representação de entrevista">
        </figure>
      </a>
      <a href="/conclusao" class="col-md-6 col-sm-6 col-lg-6" style="margin-top: 0.5%;">
        <figure>
          <img class="img-fluid img-thumbnail" src="images/conclusão.png" alt="representação de conclusão">
        </figure>
      </a>
    </div>
  </section>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>