<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>OCEM'BA</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/cocar.jpg" />
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top" style="background-color: #71492f;">
      		<div class="container">
        		<div class="navbar-header" style="margin-left: 39%">
          
          			<a href="/"><h1 style="color: white;">OCEM'BA</h1></a>
        		</div>
      		</div>
    	</nav>
		<h1>Conclusão</h1>
		<p>O desenvolvimento do presente estudo possibilitou uma análise dos principais motivos que levam a evasão escolar indígena. Concluiu-se, por meio dos resultados do questionário e da entrevista, que o principal motivo que leva a evasão é a falta de um meio de transporte das aldeias para a instituição, em segundo lugar ficou a inapetência de seguir carreira na área do curso ofertado. 
		O questionário de cume quantitativo foi aplicado em dois alunos evadidos do IFMS e por meio deles chegamos a principal conclusão deste projeto, ainda no âmbito escolar foram aplicadas as entrevistas com alunos indígenas que permanecem na escola, onde mais uma vez a distância foi citada, em conversa com a aluna Cris por exemplo, percebeu-se que a distância influencia, principalmente por ela se locomover de bicicleta. Sua principal dificuldade apresenta-se nos dias de chuvas, onde chegar até a instituição se torna uma tarefa quase impossível. Ainda no caso da aluna Cris, percebe-se que ela sofre com as matérias do curso, algo comum aos novos do IFMS, pois nunca teve contato com as matérias técnicas, do curso ofertado. E por fim em seu caso a desistência só não ocorreu por causa da pressão familiar. No caso do aluno Isaías a distância aparece novamente, e novamente os dias de chuva são os mais complicados para chegar na escola. Nesse caso observa-se que o aluno gosta do curso, só não deseja seguir carreira na área. Em entrevista com o aluno Anderson, não percebeu-se dificuldades, visto que ele não mora na aldeia e, segundo ele próprio, ele pretende seguir carreira o que torna o IF chamativo para ele.
		Os três alunos ainda apontaram sugestões que poderiam trazer mais alunos ao IFMS, bem como sugestões que ajudem na permanência dos mesmo. As principal para a questão da permanência seria um transporte público, pois mesmo os que deslocam-se através de veículos, alcançam momentos no qual a gasolina torna-se um problema a ser enfrentado. Para atrair alunos para o IF foram citadas duas sugestões que merecem destaque, a do aluno Isaías, baseia-se na divulgação, foi dito pelo mesmo que poderia haver mais divulgação nas escolas indígenas. Já a aluna Cris disse que atividades extracurriculares seria um motivo a mais para os alunos, da população em foco, sentirem-se atraídos pela instituição
</p>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>